body {
    font-family: "Lato", sans-serif;
    background-color: #0f224a;
    color: #fff;
    line-height: 1.6;
    min-height: 100vh;
}
header {
    .logo img {
        width: 64px;
        height: 64px;
    }
}
.heroText {
    background-color: #50bab6;
    font-size: 18px;
    padding: 10px 20px;
}
