/* Grundlayout der Seite: Hintergrundfarbe, Schrift, Höhe */
body {
    font-family: "Lato", sans-serif;
    background-color: #e4e3d3;
    color: #0d0106;
    line-height: 1.6;
}
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .logo {
        img {
            width: 64px;
            height: 64px;
        }
    }

    .site-title {
        font-size: 1.8rem;
        font-weight: bold;
        @media (max-width: 430px) {
            display: none;
        }
    }

    .input-field {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        font-size: 1rem;
        outline: none;
    }
}
footer {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 2rem 1rem;
    img {
        width: 64px;
        height: 64px;
    }

    .footer-text {
        font-size: 1rem;
        color: #bbb;
    }
}
/* Begrüßungsleiste unter dem Header */
.hero-text {
    background-color: #7e408c;
    overflow: hidden;
    width: 100%;
    margin-top: 80px;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

.scroll-track {
    display: inline-block;
    animation: scroll-left 8s linear infinite;

    span {
        font-size: 18px;
        padding-left: 100%;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Wrapper zum Zentrieren des "Mehr anzeigen"-Buttons */
.load-more-wrapper {
    display: flex;
    justify-content: center;
}
/* Der Button selbst – mit Hover-Effekt */
.load-more-btns {
    padding: 12px 20px;
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
/* Vollbild-Overlay mit Hintergrundfarbe für Ladescreen */
.loading-overlay {
    position: fixed;
    inset: 0;
    background-color: #7e408c;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Bild im Ladescreen (z. B. Ente) */
.loading-overlay img {
    width: 275px;
    height: 275px;
}
/* Halbtransparentes Hintergrundoverlay */
.overlay-wrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
/* Weißer, zentrierter Inhalt im Overlay (Detailansicht) */
.overlay-box {
    background-color: white;
    padding: 2rem;
    max-width: 400px;
    width: 90%;
    height: 90vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: default;
    overflow: hidden;
}
.input-field {
    background-color: black;
    color: white;
}
