.pokemon-card {
    width: 180px;
    text-align: center;
    margin: 1rem;
    background-color: #e2f7f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(0.98);
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15);
        cursor: pointer;

        @media (max-width: 768px) {
            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }

    .pokemon-id {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 0.75rem;
        color: #555;
        font-weight: bold;
    }

    .pokemon-name {
        font-size: 1.2rem;
        margin: 0.2rem 0;
        color: #222;
    }

    .pokemon-img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0.5rem 0;
        border-radius: 10px;
    }

    .pokemon-types {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .type-icon {
            padding: 6px 10px;
            border-radius: 20px;
            font-size: 0.8rem;
            color: rgb(20, 20, 20);
            text-transform: capitalize;
        }
    }
}
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 100%;
}
.pokemon-img-wrapper {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.bg-grass {
    background-color: #78c850;
}
.bg-fire {
    background-color: #f08030;
}
.bg-water {
    background-color: #6890f0;
}
.bg-poison {
    background-color: #a040a0;
}
.bg-fighting {
    background-color: #c03028;
}
.bg-flying {
    background-color: #a890f0;
}
.bg-ground {
    background-color: #e0c068;
}
.bg-rock {
    background-color: #b8a038;
}
.bg-bug {
    background-color: #a8b820;
}
.bg-ghost {
    background-color: #705898;
}
.bg-steel {
    background-color: #b8b8d0;
}

.hover-shadow-grass:hover {
    box-shadow: 0 0 12px 4px #78c850;
}
.hover-shadow-fire:hover {
    box-shadow: 0 0 12px 4px #f08030;
}
.hover-shadow-water:hover {
    box-shadow: 0 0 12px 4px #6890f0;
}
.hover-shadow-poison:hover {
    box-shadow: 0 0 12px 4px #a040a0;
}
.hover-shadow-fighting:hover {
    box-shadow: 0 0 12px 4px #c03028;
}
.hover-shadow-flying:hover {
    box-shadow: 0 0 12px 4px #a890f0;
}
.hover-shadow-ground:hover {
    box-shadow: 0 0 12px 4px #e0c068;
}
.hover-shadow-rock:hover {
    box-shadow: 0 0 12px 4px #b8a038;
}
.hover-shadow-bug:hover {
    box-shadow: 0 0 12px 4px #a8b820;
}
.hover-shadow-ghost:hover {
    box-shadow: 0 0 12px 4px #705898;
}
.hover-shadow-steel:hover {
    box-shadow: 0 0 12px 4px #b8b8d0;
}
.hover-shadow-normal:hover {
    box-shadow: 0 0 12px 4px #a8a878;
}
