/* Globales Reset: Margin, Padding, Box-Sizing, smooth scroll */
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
/* Entfernt Unterstreichung bei Links */
a {
    text-decoration: none;
}
